{% extends "base.html" %}
{% block head %}
<meta http-equiv="refresh" content="20">
{% endblock %}
{% block body %}
<br xmlns="http://www.w3.org/1999/html">
<br>
<br>
<br>
<h2 xmlns="http://www.w3.org/1999/html">
    <center>Are you sure you want to change status?</center></h2>
<form action="{{ url_for('action.actionhandling') }}" method="POST" align="center">
    <input type="submit" name="yes" value="Yes" style="width:120px;height:20px; border-radius:100px" autofocus required>
    <input type="submit" name="no" value="No" style="width:120px;height:20px; border-radius:100px" required>
</form>
{% endblock %}